.alert {
  background-color: red;
  color: white;
  padding: 8px;
  text-align: center;
}

.alert div {
  margin: 8px 0;
}

h1 {
  font-size: 38px;
  margin-bottom: 38px;
}

h2 {
  font-weight: normal;
  font-family: 'Merriweather';
  font-size: 20px;
}

.result-headline {
  font-size: 20px;
  margin: 10px 0;
}

.hidden {
  display: none;
}

.why {
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  font-style: italic;
}

.why-small {
  font-size: 12px;
}

fieldset legend {
  margin-bottom: 12px;
}

.label-sub-text {
  color: #2F4F4F;
  font-size: 14px;
}

footer {
  color: white;
  background-color: #1B1349;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 8px;
}

footer a {
  color: white;
}

footer div {
  margin: 8px 0;
}